<div class="general">
  <h1 mat-dialog-title>Ajouter une voiture</h1>
  <div class="container">

    <mat-form-field>
      <mat-select placeholder="Organisation">
        <mat-option value="option">Université Catholique de Lille</mat-option>
        <mat-option value="option">Yncrea</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Marque">
        <mat-option value="option">Tesla</mat-option>
        <mat-option value="option">Renault</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Modèle">
        <mat-option value="option">S</mat-option>
        <mat-option value="option">3</mat-option>
        <mat-option value="option">Zoe</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="immatriculation" placeholder="Immatriculation">
    </mat-form-field>

  </div>

  <div class="buttons" mat-dialog-actions>
    <button mat-button color="info" mat-dialog-close>Retour</button>
    <button mat-flat-button color="primary">Ajouter</button>
  </div>
</div>