<mat-toolbar color="accent">
  <mat-toolbar-row>

    <button mat-button routerLink="/admin/cars/reservation" routerLinkActive="active-link"
      class="button">Réservations</button>

    <button mat-button routerLink="/admin/cars/administration" routerLinkActive="active-link"
      class="button">Administration</button>

    <button mat-button routerLink="/admin/cars/maps" routerLinkActive="active-link" class="button">Maps</button>

    <button mat-button routerLink="/admin/cars/settings" routerLinkActive="active-link" class="button">Settings</button>

  </mat-toolbar-row>
</mat-toolbar>

<div class="components">
  <router-outlet></router-outlet>
</div>