<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title">BornToBeAlive</span>
    <span class="spacer"></span>

    <div class="buttons">
      <button mat-button routerLink="/admin/cars" routerLinkActive="active-link" class="button">Voitures</button>
      <button mat-button routerLink="/admin/stations" routerLinkActive="active-link"
        class="button">Stations</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="components">
  <router-outlet></router-outlet>
</div>