table {
  width: 100%;
}

.mat-table-container .mat-table {
  width: 100%;
}

.th-action-column, .mat-cell-buttons {
  text-align: right;
}

.mat-form-field {
  width: 100%
}

.add {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.add_title {
  margin: 20px;
}

.spinner {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-content: center;
  justify-content: center;
  margin-top: 20%
}